.Lorem{
    color: black;
    background-color: azure;
    padding: 5px;
    font-size: 20px;
    border: 1px solid burlywood;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}